h1{
    color:darkslateblue;
    font-size: 40px;
}

div.input-text{
    padding-top: 50px;
    background-color: lavender;
    padding-bottom: 50px;
}

div.input-button{
    padding-top: 20px;
    background-color: aliceblue;
    padding-bottom: 20px;
}

div.input-area{
    padding-top: 20px;
    background-color:lavenderblush;
    padding-bottom: 20px;
}

div.table-area{
    padding-top: 20px;
    background-color:beige;
    padding-bottom: 20px;
}

body{
    width: 800px;
}

